/* practice4.external */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "맑은 고딕", "돋움";
    font-size: 0.75em;
    color: #333;
    margin-top: 100px;
}

#login-form {
    width: 180px;
    padding: 10px;
    border: 1px solid #666;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}
label {
    display: block;
    margin-top: 5px;
    margin-bottom: 3px;
}
input[type="image"] {
    display: block;
    width: 50px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-left: auto;
}